/*
 * Relative Position: sets boxes relative to its original location
 * (i.e. below or left of where the element would normally be)
 */

.box-set {
  position: relative;
  height: 400px;
  background: darkgray;
}

.box {
  /* relative positioning */
  position: relative;
  width: 150px;
  height: 150px;
  background: white;
  border: 2px solid black;
  float: left
}

